@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-size: 20px;
}

* {
    font-family: 'Manrope', sans-serif;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
    
}
